#form {
  padding: 5px;
}

#mission {
  align-self: center;
  background-color: whitesmoke;
  margin-left: 30%;
  letter-spacing: 1px;
  line-height: 1.8;
}

#contact {
  background-color: whitesmoke;
  margin-left: 30%;
  letter-spacing: 1px;
  line-height: 1.8;
}
