#form {
  padding: 15px;
  margin-right: 10%;
}

#mission {
  letter-spacing: 1px;
  line-height: 1.8;
  margin-left: 15%;
}

#contact {
  margin-left: 10%;
  letter-spacing: 1px;
  line-height: 1.8;
}

#titulo {
  margin-left: 30%;
  padding-top: 8px;
}
#call {
  margin-left: 15%;
  padding-top: 5px;
}

#button {
  margin-left: 43%;
  background-color: #b3541e;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  outline-color: #361500;
}

#kids {
  width: 530px;
}
