.page-footer {
  background-color: #ffb74d;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

a:link,
a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#signature {
  font-size: 13px;
}

.fa {
  width: 50px;
  height: 50px;
}

#links {
  margin-bottom: 45px;
}

#icons-container {
  position: relative;
}

#icons {
  position: absolute;
  bottom: 0%;
  left: 0%;
}
