/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.navbar {
  background-color: #f7f5f2;
}

#ss {
  color: white;
}
#button1 {
  padding: 10px;
  margin-right: 15px;
  background-color: #b3541e;
  font-family: "Libre Baskerville", serif;
}

#button2 {
  padding: 10px;
  background-color: #b3541e;
  font-family: "Libre Baskerville", serif;
}

#mary {
  height: 70px;
  width: 80px;
  align-self: left;
  border-radius: 50%;
  margin-left: 30px;
}
