/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.navbar {
  background-color: #f7f5f2;
}

#title {
  display: flex;
  align-items: flex-start;
  font-size: xx-large;
  margin-right: 80%;
}
a {
  color: white;
}
#button1 {
  padding: 10px;
  margin-right: 15px;
  background-color: #b3541e;
}

#button2 {
  padding: 10px;
  background-color: #b3541e;
}

#mary {
  height: 70px;
  width: 80px;
  align-self: left;
  border-radius: 50%;
  margin-left: 30px;
}
