/* SCSS HEX */
$carolina-blue: #3da2daff;
$light-periwinkle: #d2d9e9ff;
$platinum: #e9e8e4ff;
$mellow-apricot: #fbb464ff;
$orange-red: #f06e26ff;

/* SCSS HSL */
$carolina-blue: hsla(201, 68%, 55%, 1);
$light-periwinkle: hsla(222, 34%, 87%, 1);
$platinum: hsla(48, 10%, 90%, 1);
$mellow-apricot: hsla(32, 95%, 69%, 1);
$orange-red: hsla(21, 87%, 55%, 1);

/* SCSS RGB */
$carolina-blue: rgba(61, 162, 218, 1);
$light-periwinkle: rgba(210, 217, 233, 1);
$platinum: rgba(233, 232, 228, 1);
$mellow-apricot: rgba(251, 180, 100, 1);
$orange-red: rgba(240, 110, 38, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #3da2daff,
  #d2d9e9ff,
  #e9e8e4ff,
  #fbb464ff,
  #f06e26ff
);
$gradient-right: linear-gradient(
  90deg,
  #3da2daff,
  #d2d9e9ff,
  #e9e8e4ff,
  #fbb464ff,
  #f06e26ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #3da2daff,
  #d2d9e9ff,
  #e9e8e4ff,
  #fbb464ff,
  #f06e26ff
);
$gradient-left: linear-gradient(
  270deg,
  #3da2daff,
  #d2d9e9ff,
  #e9e8e4ff,
  #fbb464ff,
  #f06e26ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #3da2daff,
  #d2d9e9ff,
  #e9e8e4ff,
  #fbb464ff,
  #f06e26ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #3da2daff,
  #d2d9e9ff,
  #e9e8e4ff,
  #fbb464ff,
  #f06e26ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #3da2daff,
  #d2d9e9ff,
  #e9e8e4ff,
  #fbb464ff,
  #f06e26ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #3da2daff,
  #d2d9e9ff,
  #e9e8e4ff,
  #fbb464ff,
  #f06e26ff
);
$gradient-radial: radial-gradient(
  #3da2daff,
  #d2d9e9ff,
  #e9e8e4ff,
  #fbb464ff,
  #f06e26ff
);
