#prof {
  margin-left: 10%;
  margin-top: 20px;
  font-family: "Libre Baskerville", serif;
  font-size: large;
}
#prof1 {
  margin-left: 10%;
  margin-top: 20px;
  font-family: "Libre Baskerville", serif;
  font-size: large;
}
#prof2 {
  margin-left: 10%;
  margin-top: 20px;
  font-size: 18px;
  font-family: "Libre Baskerville", serif;
  font-size: large;
}

#lego {
  height: 180px;
  width: 190px;
  border-radius: 50%;
  margin-top: 20px;
}

#pt {
  background-color: #f7f5f2;
  margin: 5px;
  height: 400px;
}
#bio {
  font-family: "Libre Baskerville", serif;
  font-size: large;
  background-color: #733c3c;
  margin: 5px;
  height: 400px;
}

#c1 {
  background-color: #b3541e;
  height: 400px;
  margin: 5px;
}

#c2 {
  background-color: #ceab93;
  height: 400px;
  margin: 5px;
}

#ic {
  height: 400px;
}
#ww {
  background-color: white;
  color: black;
  margin-left: 30%;
  margin-top: 20px;
  font-family: "Libre Baskerville", serif;
}
